# Batting Average

In [1]:
from baseball.db import Session
from baseball.db.models import Batting

session = Session()

## Single-season batting average

In [2]:
single_season = session.query(Batting.playerID, Batting.yearID, Batting.PA, Batting.avg) \
                       .group_by(Batting.yearID, Batting.playerID) \
                       .order_by(Batting.avg.desc()) \
                       .having(Batting.PA >= 500) \
                       .having(Batting.avg >= 0.400)
print(single_season)

SELECT batting."playerID" AS "batting_playerID", batting."yearID" AS "batting_yearID", coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?) AS "PA", sum(coalesce(batting."H", ?)) / CAST(sum(coalesce(batting."AB", ?)) AS FLOAT) AS avg
FROM batting GROUP BY batting."yearID", batting."playerID"
HAVING coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?) >= ? AND sum(coalesce(batting."H", ?)) / CAST(sum(coalesce(batting."AB", ?)) AS FLOAT) >= ? ORDER BY sum(coalesce(batting."H", ?)) / CAST(sum(coalesce(batting."AB", ?)) AS FLOAT) DESC

In [3]:
single_season.all()

[('duffyhu01', 1894, 616, 0.4397031539888683),
 ('oneilti01', 1887, 572, 0.43520309477756286),
 ('lajoina01', 1901, 582, 0.4264705882352941),
 ('keelewi01', 1897, 618, 0.4237588652482269),
 ('hornsro01', 1924, 640, 0.42350746268656714),
 ('sislege01', 1922, 654, 0.4197952218430034),
 ('cobbty01', 1911, 654, 0.4196277495769882),
 ('thompsa01', 1894, 502, 0.4146341463414634),
 ('delahed01', 1899, 645, 0.40963855421686746),
 ('burkeje01', 1896, 647, 0.40955631399317405),
 ('cobbty01', 1912, 609, 0.40867992766726946),
 ('jacksjo01', 1911, 641, 0.4080560420315236),
 ('sislege01', 1920, 692, 0.40729001584786056),
 ('willite01', 1941, 606, 0.4057017543859649),
 ('burkeje01', 1895, 644, 0.40540540540540543),
 ('delahed01', 1894, 567, 0.4048582995951417),
 ('delahed01', 1895, 578, 0.4041666666666667),
 ('hamilbi01', 1894, 702, 0.4032258064516129),
 ('hornsro01', 1925, 605, 0.4027777777777778),
 ('heilmha01', 1923, 626, 0.4026717557251908),
 ('brownpe01', 1887, 610, 0.40219378427787933),
 ('hornsro01', 1922, 704, 0.4012841091492777),
 ('terrybi01', 1930, 710, 0.40126382306477093),
 ('jennihu01', 1896, 602, 0.40115163147792704),
 ('cobbty01', 1922, 612, 0.4011406844106464)]

## Career batting average

In [4]:
from sqlalchemy import func
career = session.query(Batting.playerID, func.min(Batting.yearID), func.max(Batting.yearID), Batting.avg) \
                .group_by(Batting.playerID) \
                .order_by(Batting.avg.desc()) \
                .having(func.sum(Batting.PA) >= 3000) \
                .limit(20)
print(career)

SELECT batting."playerID" AS "batting_playerID", min(batting."yearID") AS min_1, max(batting."yearID") AS max_1, sum(coalesce(batting."H", ?)) / CAST(sum(coalesce(batting."AB", ?)) AS FLOAT) AS avg
FROM batting GROUP BY batting."playerID"
HAVING sum(coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?)) >= ? ORDER BY sum(coalesce(batting."H", ?)) / CAST(sum(coalesce(batting."AB", ?)) AS FLOAT) DESC
 LIMIT ? OFFSET ?

In [5]:
career.all()

[('cobbty01', 1905, 1928, 0.36633143856580674),
 ('hornsro01', 1915, 1937, 0.35849749174109874),
 ('jacksjo01', 1908, 1920, 0.3557518570568159),
 ('odoulle01', 1919, 1934, 0.3492647058823529),
 ('delahed01', 1888, 1903, 0.34580559254327564),
 ('speaktr01', 1907, 1928, 0.34467876410004905),
 ('hamilbi01', 1888, 1901, 0.34442145471908325),
 ('willite01', 1939, 1960, 0.3444069556189982),
 ('broutda01', 1879, 1904, 0.3424026167112697),
 ('ruthba01', 1914, 1935, 0.34210526315789475),
 ('orrda01', 1883, 1890, 0.3420492550927334),
 ('heilmha01', 1914, 1932, 0.3415949659689226),
 ('brownpe01', 1882, 1894, 0.34149377593360997),
 ('keelewi01', 1892, 1910, 0.34128739378419276),
 ('terrybi01', 1923, 1936, 0.34116365899191037),
 ('sislege01', 1915, 1930, 0.34014757469456874),
 ('gehrilo01', 1923, 1939, 0.3400824896887889),
 ('burkeje01', 1890, 1905, 0.33823878471398056),
 ('gwynnto01', 1982, 2001, 0.3381782945736434),
 ('lajoina01', 1896, 1916, 0.33816475495307613)]