# On-Base Percentage

In [1]:
from baseball.db import Session
from baseball.db.models import Batting

session = Session()

## Single-season OBP

In [2]:
single_season = session.query(Batting.playerID, Batting.yearID, Batting.obp) \
                       .group_by(Batting.yearID, Batting.playerID) \
                       .order_by(Batting.obp.desc()) \
                       .having(Batting.PA >= 500) \
                       .limit(20)
print(single_season)

SELECT batting."playerID" AS "batting_playerID", batting."yearID" AS "batting_yearID", sum(batting."H" + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?)) / CAST(sum(coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?)) - sum(coalesce(batting."SH", ?)) AS FLOAT) AS obp
FROM batting GROUP BY batting."yearID", batting."playerID"
HAVING coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?) >= ? ORDER BY sum(batting."H" + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?)) / CAST(sum(coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?)) - sum(coalesce(batting."SH", ?)) AS FLOAT) DESC
 LIMIT ? OFFSET ?

In [3]:
single_season.all()

[('bondsba01', 2004, 0.6094003241491086),
 ('bondsba01', 2002, 0.5816993464052288),
 ('willite01', 1941, 0.5528052805280528),
 ('mcgrajo01', 1899, 0.547486033519553),
 ('ruthba01', 1923, 0.5445402298850575),
 ('ruthba01', 1920, 0.5327868852459017),
 ('bondsba01', 2003, 0.5290909090909091),
 ('willite01', 1957, 0.5256410256410257),
 ('hamilbi01', 1894, 0.520863309352518),
 ('ruthba01', 1926, 0.5155763239875389),
 ('bondsba01', 2001, 0.5150602409638554),
 ('willite01', 1954, 0.5133079847908745),
 ('ruthba01', 1924, 0.5125925925925926),
 ('ruthba01', 1921, 0.5123367198838897),
 ('mantlmi01', 1957, 0.5120385232744783),
 ('hornsro01', 1924, 0.507177033492823),
 ('kellejo01', 1894, 0.5024232633279483),
 ('duffyhu01', 1894, 0.5016501650165016),
 ('delahed01', 1895, 0.5),
 ('willite01', 1942, 0.4992548435171386)]

## Career OBP

In [4]:
from sqlalchemy import func
career = session.query(Batting.playerID, func.min(Batting.yearID), func.max(Batting.yearID), Batting.obp) \
                .group_by(Batting.playerID) \
                .order_by(Batting.obp.desc()) \
                .having(func.sum(Batting.PA) >= 3000) \
                .limit(20)
print(career)

SELECT batting."playerID" AS "batting_playerID", min(batting."yearID") AS min_1, max(batting."yearID") AS max_1, sum(batting."H" + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?)) / CAST(sum(coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?)) - sum(coalesce(batting."SH", ?)) AS FLOAT) AS obp
FROM batting GROUP BY batting."playerID"
HAVING sum(coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?)) >= ? ORDER BY sum(batting."H" + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?)) / CAST(sum(coalesce(batting."AB", ?) + coalesce(batting."BB", ?) + coalesce(batting."HBP", ?) + coalesce(batting."SH", ?) + coalesce(batting."SF", ?)) - sum(coalesce(batting."SH", ?)) AS FLOAT) DESC
 LIMIT ? OFFSET ?

In [5]:
career.all()

[('willite01', 1939, 1960, 0.48170856325362765),
 ('ruthba01', 1914, 1935, 0.4739598210035228),
 ('mcgrajo01', 1891, 1907, 0.4656722517368206),
 ('hamilbi01', 1888, 1901, 0.45523078957809815),
 ('gehrilo01', 1923, 1939, 0.44735189449445256),
 ('bondsba01', 1986, 2007, 0.44429455641961596),
 ('joycebi01', 1890, 1898, 0.4348876540227108),
 ('hornsro01', 1915, 1937, 0.43374014472405226),
 ('cobbty01', 1905, 1928, 0.43293160118954455),
 ('foxxji01', 1925, 1945, 0.42827377851859566),
 ('speaktr01', 1907, 1928, 0.4279475982532751),
 ('vottojo01', 2007, 2018, 0.4271141336487286),
 ('collied01', 1906, 1930, 0.4243817787418655),
 ('fainfe01', 1947, 1955, 0.42407407407407405),
 ('broutda01', 1879, 1904, 0.42341285360448444),
 ('jacksjo01', 1908, 1920, 0.42273790250044974),
 ('bishoma01', 1924, 1935, 0.4226840436773512),
 ('mantlmi01', 1951, 1968, 0.42051541182415364),
 ('cochrmi01', 1925, 1937, 0.41915772089182496),
 ('thomafr04', 1990, 2008, 0.41909866984316063)]